html, body
{
    height: 100%;
}

*
{
    box-sizing: border-box;
}

:root
{
    --primary: rgba(13, 13, 89, 1);
    --primary75: rgba(13, 13, 89, 0.75);
    --primary50: rgba(13, 13, 89, 0.50);
    --primary25: rgba(13, 13, 89, 0.25);
    --primary00: rgba(13, 13, 89, 0.00);

    --icon-size: 3rem;
    --nav-size: 4rem;
    --padding: 0.5rem;
}

body
{
    display: grid;
    grid-template-columns: var(--nav-size) auto var(--nav-size);
    grid-template-rows: var(--nav-size) auto 32px;
    grid-template-areas:
        'open header search'
        'nav content content'
        'nav footer footer';
    margin: 0;
    overflow: hidden;
}

.open-nav, .header, .navigation, .search
{
    background-color: var(--primary);
    margin: 0;
    color: white;
}

ul
{
    list-style: none;
    padding: 0;
}

.navigation a
{
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    padding-left: var(--padding);
}

.open-nav
{
    grid-area: open;
}

.header
{
    grid-area: header;
}

.search
{
    grid-area: search;
}

.navigation
{
    grid-area: nav;
    z-index: 100;
}

.content
{
    grid-area: content;
    overflow-y: auto;
    padding: var(--padding);
}

.footer
{
    grid-area: footer;
}

.navigation .nav-item
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: var(--nav-size) auto;
    grid-template-areas:
        'icon header arrow'
        'spacer0 menu menu';
    transition: width 1s;
    width: var(--nav-size);
    overflow: hidden;
    box-shadow: 4px 2px 0px 0px var(--primary25);
}

.navigation .nav-item *
{
    z-index: 100;
}

.nav-icon
{
    padding: var(--padding);
}

.navigation .nav-item .nav-side
{
    grid-area: icon;
}

.navigation .nav-item .nav-header
{
    grid-area: header;
    font-size: 2rem;
    background-color: var(--primary);
    padding: var(--padding);
    line-height: var(--icon-size);
}

.navigation .nav-item .nav-arrow
{
    grid-area: arrow;
    background-color: var(--primary);
}

/* .navigation .nav-item .nav-spacer
{
    grid-area: spacer0;
    height: 100%;
} */

.navigation .nav-item .nav-dropdown
{
    grid-area: menu;
    padding: 0px var(--padding);;
    height: 0;
    transition: height 1s;
    background-color: var(--primary75);
}

.navigation .nav-item .nav-dropdown li
{
    margin: var(--padding); 0px;
    font-size: 1.5rem;
}

.nav-icon i
{
    font-size: var(--icon-size);
    vertical-align: bottom;
}

.nav-item a, .nav-icon i
{
    border-radius: var(--padding);
}

.nav-item a:hover, .nav-icon i:hover
{
    box-shadow: inset 0px 0px 4px 0px rgba(255,255,255,1);
    background-color: var(--primary75);
}

@media only screen and (max-width: 1000px)
{
    html
    {
        font-size: 32px;
    }
    body {
        grid-template-areas:
            'open header search'
            'content content content'
            'footer footer footer';
    }

    .navigation
    {
        display: none;
        grid-column: content-start;
        grid-row: content-start / span 2;
    }

    .navigation .nav-item
    {
        transition: unset;
    }
    /* TODO: Fix navigation width */
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(13, 13, 89, 0.5);
    border-width: 0;
    border-radius: 5px;
}
